<head>


  <link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/css/jquery.dataTables.css">
   <link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/css/jquery.dataTables_themeroller.css">
  </head>


<body>



  <main id="main" class="main">

    <div class="pagetitle">
      <h1>View Users</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">Tables</li>
          <li class="breadcrumb-item active">View Users</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->









    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Users</h5>





        <!-- Primary Color Bordered Table -->
        <table id="userTable" class="table text-center ">
          <thead>
            <tr>
              <th scope="col">SI No</th>
              <th scope="col">Name</th>
              <th scope="col">Phone</th>
              <th scope="col">Email</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            {{#each viewUser}}
            <tr>
              <th scope="row">{{'inc' @index}}</th>
              <td>{{this.name}}</td>
              <td>{{this.phone}}</td>
              <td>{{this.email}}</td>

              <td>
                {{!-- {{#if this.status}}
                <a href="/admin/block/{{this._id}}" class="btn btn-danger">Block</a>
                {{else}}
                <a href="/admin/unblock/{{this._id}}" class="btn btn-success">Unblock</a>
                {{/if}} --}}
                {{!-- =========================== --}}
                <div class="form-check form-switch">
                {{#if this.status}}
                  <input class="form-check-input" onclick="blockUser('{{this._id}}','false')" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                  <label class="form-check-label" for="flexSwitchCheckDefault">Block</label>
                  {{else}}
                    <input class="form-check-input" onclick="blockUser('{{this._id}}','true')"  type="checkbox" role="switch" id="flexSwitchCheckDefault" checked>
                  <label class="form-check-label" for="flexSwitchCheckDefault">Unblock</label>
                  {{/if}} 
                </div>
                {{!-- --------------------------- --}}
              </td>
            </tr>

          </tbody>
          {{/each}}
        </table>
        <!-- End Primary Color Bordered Table -->
       
      </div>
    </div>



    </div>
    </div>
    </section>


  </main><!-- End #main -->



  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <!-- Vendor JS Files -->
  <script src="/admin-assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="/admin-assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/admin-assets/vendor/chart.js/chart.min.js"></script>
  <script src="/admin-assets/vendor/echarts/echarts.min.js"></script>
  <script src="/admin-assets/vendor/quill/quill.min.js"></script>
  <script src="/admin-assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="/admin-assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="/admin-assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/admin-assets/js/main.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.1.min.js"></script>
   <script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/jquery.dataTables.min.js"></script>

  <!-- Template Main JS File -->
  <script src="/admin-assets/js/main.js"></script>
  <script>
   function blockUser(userId,status){
    $.ajax({
       url:'/admin/block/'+userId+'/'+status,
       method:'get',
       success:(response)=>{
        if(response){
          location.reload()
        }
       }
    })
   }
  </script>

<script>
  $(document).ready( function () {
    $('#userTable').DataTable();
} );
</script>

</body>


</html>