


<body>

 

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>View Users</h1>
     
    </div><!-- End Page Title -->

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Users</h5>
   

              <!-- Primary Color Bordered Table -->
              <table class="table datatable table-hover ">
                <thead>
                  <tr>
                    <th scope="col">SI No</th>
                    <th scope="col">Name</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Email</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                
                <tbody>
                  {{#each viewUser}}
                  
                    <th scope="row">{{'inc' @index}}</th>
                    <td>{{this.name}}</td>
                    <td>{{this.phone}}</td>
                    <td>{{this.email}}</td>
                    
                    <td>
                        
                        {{!-- =========================== --}}
                <div class="form-check form-switch">
                {{#if this.status}}
                  <input class="form-check-input" onclick="blockUser('{{this._id}}','false')" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                  <label class="form-check-label" for="flexSwitchCheckDefault">Block</label>
                  {{else}}
                    <input class="form-check-input" onclick="blockUser('{{this._id}}','true')"  type="checkbox" role="switch" id="flexSwitchCheckDefault" checked>
                  <label class="form-check-label" for="flexSwitchCheckDefault">Unblock</label>
                  {{/if}} 
                </div>
                {{!-- --------------------------- --}}

                    </td>
                   
                  </tr>
                  {{/each}}
                </tbody>
               
              </table>
              <!-- End Primary Color Bordered Table -->

            </div>
          </div>

          

        </div>
      </div>
    </section>

  </main><!-- End #main -->

 

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/admin-assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="/admin-assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/admin-assets/vendor/chart.js/chart.min.js"></script>
  <script src="/admin-assets/vendor/echarts/echarts.min.js"></script>
  <script src="/admin-assets/vendor/quill/quill.min.js"></script>
  <script src="/admin-assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="/admin-assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="/admin-assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/admin-assets/js/main.js"></script>

  <script>
   function blockUser(userId,status){
    $.ajax({
       url:'/admin/block/'+userId+'/'+status,
       method:'get',
       success:(response)=>{
        if(response){
          location.reload()
        }
       }
    })
   }
  </script>

<script>
  $(document).ready( function () {
    $('#userTable').DataTable();
} );
</script>
   

</body>

