<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>RAHA admin</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/admin-assets/img/favicon.png" rel="icon">
  <link href="/admin-assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/admin-assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/admin-assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/admin-assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/admin-assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="/admin-assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="/admin-assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/admin-assets/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/admin-assets/css/style.css" rel="stylesheet">


</head>

<body>

 

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>View Banners</h1>
   
    </div><!-- End Page Title -->

    
           


          

        

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Banners</h5>
              
             

             

              <!-- Primary Color Bordered Table -->
              <table class="table text-center table-bordered table-hover datatable ">
                <thead>
                  <tr>
                    <th scope="col">SI No</th>
                    <th scope="col">Name</th>
                    <th scope="col">Discription</th>
                    <th scope="col">Image</th>
                    <th scope="col">Operations</th>
                  </tr>
                </thead>{{#each banner}}
                <tbody>
                  
                  <tr  >
                    <th scope="row">{{ 'inc'@index}}</th>
                    <td>{{this.banner}}</td>
                    <td>{{this.discription}}</td> 
                    <td class="d-flex justify-content-center"><img style="height:60px ;width:50px;" src="/pictures/banner-images/{{this.img}}" ></td>    
                    <td>
                        <button class="btn btn-warning" onclick="fetchBanner('{{this._id}}')" data-bs-toggle="modal" data-bs-target="#edit-banner-modal{{this._id}}"><a class="text-white" >Edit</a></button>
                        <button class="btn btn-danger" onclick="bannerdelete('{{this._id}}')">Delete</button>
                    </td>            
                  </tr>
                 
                </tbody>
                {{/each}}
              
              </table>
              <!-- End Primary Color Bordered Table -->
-
        

            </div>
          </div>

          

        </div>
      </div>
    </section>

  </main><!-- End #main -->
 
 
 {{!-- edit banner modal  --}}
{{#each banner}}
<div class="modal fade" id="edit-banner-modal{{this._id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
         {{!-- modal form starts here --}}
                                
              <form id="edit-banner-form" >
                <div class="row mb-3">
                  <label for="inputText" class="form-label">Banner Name</label>
                  <div class="col-sm-10">
                    <input type="text" name="banner" id="bnr-name" class="form-control">
                  </div>
                </div>
                

                 <div class="row mb-3">
                  <label for="inputText" class="form-label">Discription</label>
                  <div class="col-sm-10">
                    <textarea class="form-control" name="discription" id="bnr-dscrptn" style="height: 100px"></textarea>  
                    {{!-- <input type="text" name="discription"  class="form-control"> --}}
                  </div>
                </div>

                {{!--  --}}
                <div class="row mb-3">
                  <label for="input-group" class="form-label">File Upload</label>
                  <div class="col-sm-10">
                   <div><img  style="width: 70px;" id="bnr-img" src="/pictures/banner-images/{{this.img}}"></div>
                    <input class="form-control"  name="images" type="file" >
                  </div>
                </div>

              
              </form><!-- End General Form Elements -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Submit Form</button>
      </div>
    </div>
  </div>
</div>
{{/each}}

{{!-- modal ends  --}}
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/admin-assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="/admin-assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/admin-assets/vendor/chart.js/chart.min.js"></script>
  <script src="/admin-assets/vendor/echarts/echarts.min.js"></script>
  <script src="/admin-assets/vendor/quill/quill.min.js"></script>
  <script src="/admin-assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="/admin-assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="/admin-assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/admin-assets/js/main.js"></script>


<script>
    function bannerdelete(bannerId){
       
        $.ajax({
            url:'/admin/deletebanner/'+bannerId,
            method:'delete',
            success:(response)=>{
                if(response.status){
                  alert("Banner Deleted")
                     location.reload()
                }
               
            }
        })
    }
</script>
<script>
  function fetchBanner(bannerId){
    $.ajax({
      url:'/admin/edit-banner/'+ bannerId,
      method:'get',
      success:(response)=>{
        console.log(response)
        document.getElementById('bnr-name').value = response.banner,
        document.getElementById('bnr-dscrptn').value = response.discription,
        document.getElementById('bnr-img').src = response.img
      }
    })
  }
  
  $('#edit-banner-form').submit((e)=>{
    e.preventDefault()
    $.ajax({
      url:'/admin/edit-banner-form',
      method:'post',
      data:$('#edit-banner-form').serialize(),
      success:(response)=>{
        if(response.status){
          alert("Banner Edited")
          location.reload()
        }
      }
    })
  })
</script>
</body>

</html> 