
<body>
    <div class="page-wrapper">
       

        <main class="main">
        	<div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        		<div class="container">
        			<h1 class="page-title">RAHA<span>ALL PRODUCTS</span></h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Shop</a></li>
                        {{!-- <li class="breadcrumb-item active" aria-current="page">Grid 4 Columns</li> --}}
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
                <div class="container">
                	
                			
					{{!-- -----------------------------products banners------------------------------------- --}}
								<div class="row col-12">
                		<div class="col-lg-8">
                			<div class="banner banner-big">
	                			<a href="#">
	                				<img src="/pictures/other-images/Untitled-design-13.png" alt="Banner">
	                			</a>

	                		
                			</div><!-- End .banner -->
                		</div><!-- End .col-lg-8 -->

                		<div class="col-lg-4">
                            <div class="row">
                                <div class="col-sm-6 col-lg-12">
                                    <div class="banner">
                                        <a href="#">
                                            <img src="/pictures/other-images/web-true-joy-winter-edition-22-items-landscape-copy (1).jpeg" alt="Banner">
                                        </a>

                                      
                                    </div><!-- End .banner -->
                                </div><!-- End .col-sm-6 col-lg-12 -->

                                <div class="col-sm-6 col-lg-12">
                        			<div class="banner">
        	                			<a href="#">
        	                				<img src="/pictures/other-images/luna-scented-candle-2020.jpeg" alt="Banner">
        	                			</a>

                        			</div><!-- End .banner -->
                                </div><!-- End .col-sm-6 col-lg-12 -->
                            </div><!-- End .row -->
                		</div><!-- End .col-lg-4 -->
                	</div><!-- End .row -->
				{{!------------------------------------------ products banners end here----------------------- --}}

                            <div class="products mb-12">
                                <div class="row justify-content-center">
                                   {{#each products}} 
								   <div class="col-12 col-md-4 col-lg-4 col-xl-3">
                                        <div class="product product-7 text-center">
                                            <figure class="product-media">
                                                {{!-- <span class="product-label label-new">New</span> --}}
                                                <a href="/product/{{this._id}}">
                                                    <img src="/pictures/product-images/{{this.img.[0]}}" alt="Product image" class="product-image">
                                                </a>

                                                <div class="product-action-vertical">
                                                    <a href="#" onclick="addToWishlist('{{this._id}}','{{this.stock}}')"  class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
            
                                                </div><!-- End .product-action-vertical -->

                                                <div class="product-action">
                                                   <button class="btn-product btn-cart" style="border: none;" 
                                                    onclick="addToCart('{{this._id}}')"><span>Add to Cart</span></button>
                                                </div><!-- End .product-action -->
                                            </figure><!-- End .product-media -->

                                            <div class="product-body">
                                                <div class="product-cat">
                                                 {{#if this.oldPrice}}
                                            <div class="product-price" style="text-decoration:line-through;color:#c20101;" class="product-price">
                                             was${{this.oldPrice}}
                                            </div><!-- End .product-price -->
                                            <div class="product-price  text-success">
                                              now ${{this.price}}
                                            </div><!-- End .product-price -->
                                            {{else}}
                                            <div class="product-price" style="color:#028100;" class="product-price">
                                              now  ${{this.price}}
                                            </div><!-- End .product-price -->
                                          
                                            {{/if}}
													
                                                </div><!-- End .product-cat -->
                                                <h3 class="product-title"><a href="/product/{{this._id}}">{{this.name}}</a></h3><!-- End .product-title -->
                                            </div><!-- End .product-body -->
                                        </div><!-- End .product -->
                                    </div><!-- End .col-sm-6 col-lg-4 col-xl-3 -->

                              {{/each}}  </div><!-- End .row -->
                            </div><!-- End .products -->


                			<nav aria-label="Page navigation">
							    <ul class="pagination justify-content-center">
							        <li class="page-item disabled">
							            <a class="page-link page-link-prev" href="#" aria-label="Previous" tabindex="-1" aria-disabled="true">
							                <span aria-hidden="true"><i class="icon-long-arrow-left"></i></span>Prev
							            </a>
							        </li>
							      
							       
							        <li class="page-item">
									{{#for 0 page.pages 1}}
							        <li class="page-item active" aria-current="page"><a class="page-link" href="/show-product/{{../category}}?page={{inc this}}">{{ inc this}}</a></li>
							        {{/for}} 
							            <a class="page-link page-link-next" href="#" aria-label="Next">
							                Next <span aria-hidden="true"><i class="icon-long-arrow-right"></i></span>
							            </a>
							        </li>
							    </ul>
							</nav>
                		</div><!-- End .col-lg-9 -->
                	
                	</div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->

       
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

   

    

    <!-- Plugins JS File -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/jquery.hoverIntent.min.js"></script>
    <script src="assets/js/jquery.waypoints.min.js"></script>
    <script src="assets/js/superfish.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/wNumb.js"></script>
    <script src="assets/js/bootstrap-input-spinner.js"></script>
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/nouislider.min.js"></script>
    <!-- Main JS File -->
    <script src="assets/js/main.js"></script>

	<script>
		function addToCart(proId) {
    $.ajax({
        url: '/add-to-cart/' + proId,
        method: 'get',
        success:(response) => {
            if(response.status){
                let count = $('#cart-count').html()
                count = parseInt(count)+1
                $("#cart-count").html(count)
            }
            document.getElementById(cartId).style.display = 'none'
        }
    })
    .then((response)=>{
        if(response.status){  swal({
        title: "Success!",
        text: "You added product to the cart!",
        icon: "success",
    })}else{
        swal(
           {title: "Sorry!",
           text:"You have to SignIn!",
        
        } 
        )
    }
     
           
        
    })
    
}
	</script>

</body>

