
<body>
    {{!-- header --}}
    <header class="header header-5">
            <div class="header-middle sticky-header ">
                <div class="container-fluid ">
                    <div class="header-left">
                        

                        <a href="/" class="logo">
                            <img src="/pictures/other-images/bgraha.png" alt="RAHA Logo" style="height: 65px;">
                        </a>

                        <nav class="main-nav">
                            <ul class="menu sf-arrows">
                                <li class="megamenu-container active">
                                    <a href="/" class="">Home</a>

                                   
                                </li>
                                <li>
                                    <a href="category.html" class="">Orders</a>

                                  
                                </li>
                                <li>
                                    <a href="/show-product" class="">Product</a>

                                    {{!-- <div class="megamenu megamenu-sm">
                                        <div class="row no-gutters">
                                            <div class="col-md-6">
                                                <div class="menu-col">
                                                    <div class="menu-title" href="" >Product Details </div> <!-- End .menu-title -->
                                                    <ul>
                                                        <li><a href="product.html">Default</a></li>
                                                        <li><a href="product-centered.html">Centered</a></li>
                                                        <li><a href="product-extended.html"><span>Extended Info<span class="tip tip-new">New</span></span></a></li>
                                                        <li><a href="product-gallery.html">Gallery</a></li>
                                                        <li><a href="product-sticky.html">Sticky Info</a></li>
                                                        <li><a href="product-sidebar.html">Boxed With Sidebar</a></li>
                                                        <li><a href="product-fullwidth.html">Full Width</a></li>
                                                        <li><a href="product-masonry.html">Masonry Sticky Info</a></li>
                                                    </ul>
                                                </div><!-- End .menu-col -->
                                            </div><!-- End .col-md-6 -->

                                            <div class="col-md-6">
                                                <div class="banner banner-overlay">
                                                    <a href="category.html">
                                                        <img src="assets/images/menu/banner-2.jpg" alt="Banner">

                                                        <div class="banner-content banner-content-bottom">
                                                            <div class="banner-title text-white">New Trends<br><span><strong>spring 2019</strong></span></div><!-- End .banner-title -->
                                                        </div><!-- End .banner-content -->
                                                    </a>
                                                </div><!-- End .banner -->
                                            </div><!-- End .col-md-6 -->
                                        </div><!-- End .row -->
                                    </div><!-- End .megamenu megamenu-sm --> --}}
                                </li>
                                <li>
                                    <a href="/my-account" class="">Profile</a>

                                    
                                </li>
                                {{!-- <li>
                                    <a href="blog.html" class="sf-with-ul">Blog</a>

                                    <ul>
                                        <li><a href="blog.html">Classic</a></li>
                                        <li><a href="blog-listing.html">Listing</a></li>
                                        <li>
                                            <a href="#">Grid</a>
                                            <ul>
                                                <li><a href="blog-grid-2cols.html">Grid 2 columns</a></li>
                                                <li><a href="blog-grid-3cols.html">Grid 3 columns</a></li>
                                                <li><a href="blog-grid-4cols.html">Grid 4 columns</a></li>
                                                <li><a href="blog-grid-sidebar.html">Grid sidebar</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Masonry</a>
                                            <ul>
                                                <li><a href="blog-masonry-2cols.html">Masonry 2 columns</a></li>
                                                <li><a href="blog-masonry-3cols.html">Masonry 3 columns</a></li>
                                                <li><a href="blog-masonry-4cols.html">Masonry 4 columns</a></li>
                                                <li><a href="blog-masonry-sidebar.html">Masonry sidebar</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Mask</a>
                                            <ul>
                                                <li><a href="blog-mask-grid.html">Blog mask grid</a></li>
                                                <li><a href="blog-mask-masonry.html">Blog mask masonry</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Single Post</a>
                                            <ul>
                                                <li><a href="single.html">Default with sidebar</a></li>
                                                <li><a href="single-fullwidth.html">Fullwidth no sidebar</a></li>
                                                <li><a href="single-fullwidth-sidebar.html">Fullwidth with sidebar</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li> --}}
                                {{!-- <li>
                                    <a href="elements-list.html" class="sf-with-ul">Elements
                                        
                                    </a>

                                    <ul>
                                        <li><a href="elements-products.html">Products</a></li>
                                        <li><a href="elements-typography.html">Typography</a></li>
                                        <li><a href="elements-titles.html">Titles</a></li>
                                        <li><a href="elements-banners.html">Banners</a></li>
                                        <li><a href="elements-product-category.html">Product Category</a></li>
                                        <li><a href="elements-video-banners.html">Video Banners</a></li>
                                        <li><a href="elements-buttons.html">Buttons</a></li>
                                        <li><a href="elements-accordions.html">Accordions</a></li>
                                        <li><a href="elements-tabs.html">Tabs</a></li>
                                        <li><a href="elements-testimonials.html">Testimonials</a></li>
                                        <li><a href="elements-blog-posts.html">Blog Posts</a></li>
                                        <li><a href="elements-portfolio.html">Portfolio</a></li>
                                        <li><a href="elements-cta.html">Call to Action</a></li>
                                        <li><a href="elements-icon-boxes.html">Icon Boxes</a></li>
                                        
                                    </ul>
                                </li> --}}
                                  {{!-- <li>
                                    <a href="/login" class=>Login
                                        
                                    </a>
                                </li>
                                 --}}
                                
                            </ul> <!-- End .menu -->
                        </nav><!-- End .main-nav -->
                    </div><!-- End .header-left -->

                                                   


                    <div class="header-right">
                        
                        <div class="header-search header-search-extended header-search-visible">
                            <a href="/search-products" class="search-toggle" role="button"><i class="icon-search"></i></a>
                            <form action='/search' method='post'>
                                <div class="header-search-wrapper">
                                     
                                    <label for="q" class="sr-only">Search</label>
                                    
                                    <input type="search"  class="form-control" name="search" placeholder="search product ..." required>
                                    <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
                                 </div><!-- End .header-search-wrapper -->                          
                            </form>
                            
                            

                        </div><!-- End .header-search -->
                        
                          <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   {{#if userLogin}}
   {{userLogin.name}}
   
   {{else}} 
   Account
   {{/if}}
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    {{#if userLogin}}
    <a class="dropdown-item" href="/logout">Logout</a>
    {{else}}
    <a class="dropdown-item" href="/login">Login</a>
    {{/if}}
  </div>
</div>

                        <a href="wishlist.html" class="wishlist-link">
                            <i class="icon-heart-o"></i>
                        </a>

                        <div class="dropdown cart-dropdown">
                            <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
                                <i class="icon-shopping-cart"></i>
                                <span class="cart-count" id="cart-count">{{cartCount}}</span>
                            </a>

                            <div class="dropdown-menu dropdown-menu-right">
                                <div class="dropdown-cart-products">
                                    <div class="product">
                                        <div class="product-cart-details">
                                            <h4 class="product-title">
                                                <a href="product.html">Beige knitted elastic runner shoes</a>
                                            </h4>

                                            <span class="cart-product-info">
                                                <span class="cart-product-qty">1</span>
                                                x $84.00
                                            </span>
                                        </div><!-- End .product-cart-details -->

                                        <figure class="product-image-container">
                                            <a href="product.html" class="product-image">
                                                <img src="assets/images/products/cart/product-1.jpg" alt="product">
                                            </a>
                                        </figure>
                                        <a href="#" class="btn-remove" title="Remove Product"><i class="icon-close"></i></a>
                                    </div><!-- End .product -->

                                    <div class="product">
                                        <div class="product-cart-details">
                                            <h4 class="product-title">
                                                <a href="product.html">Blue utility pinafore denim dress</a>
                                            </h4>

                                            <span class="cart-product-info">
                                                <span class="cart-product-qty">1</span>
                                                x $76.00
                                            </span>
                                        </div><!-- End .product-cart-details -->

                                        <figure class="product-image-container">
                                            <a href="product.html" class="product-image">
                                                <img src="assets/images/products/cart/product-2.jpg" alt="product">
                                            </a>
                                        </figure>
                                        <a href="#" class="btn-remove" title="Remove Product"><i class="icon-close"></i></a>
                                    </div><!-- End .product -->
                                </div><!-- End .cart-product -->

                                <div class="dropdown-cart-total">
                                    <span>Total</span>

                                    <span class="cart-total-price">$160.00</span>
                                </div><!-- End .dropdown-cart-total -->

                                <div class="dropdown-cart-action">
                                    <a href="/cart" class="btn btn-primary">View Cart</a>
                                    <a href="checkout.html" class="btn btn-outline-primary-2"><span>Checkout</span><i class="icon-long-arrow-right"></i></a>
                                </div><!-- End .dropdown-cart-total -->
                                
                            </div><!-- End .dropdown-menu -->
                        </div><!-- End .cart-dropdown -->
                        
                    </div><!-- End .header-right -->
                    
                </div><!-- End .container-fluid -->
            </div><!-- End .header-middle -->
        </header><!-- End .header -->
    {{!-- header ends --}}
    <div class="page-wrapper">


        <main class="main">


            






            <div class="intro-slider-container mb-0">
                <div class="intro-slider owl-carousel owl-theme owl-nav-inside owl-light" data-toggle="owl" data-owl-options='{"nav": false, "dots": false}'>
                    {{#each banners}}
                    <div class="intro-slide col-lg-12 col-md-12 col-ms-12" style="background-image: url(/pictures/banner-images/{{this.img}});">
                        {{!-- <div class="container intro-content text-center">
                            <h3 class="intro-subtitle text-white">{{this.banner}}</h3><!-- End .h3 intro-subtitle -->
                            <br>
                            <h1 class="intro-title text-white">{{this.discription}}</h1><!-- End .intro-title --> --}}
                            {{!-- <div class="intro-text text-white"></div><!-- End .intro-text -->
                            <a href="category.html" class="btn btn-primary">Discover NOW</a> --}}
                        {{!-- </div><!-- End .intro-content --> --}}
                    </div><!-- End .intro-slide -->
                    {{/each}}
                </div><!-- End .intro-slider owl-carousel owl-theme -->

            </div><!-- End .intro-slider-container -->

   <br><br> 
   <div class="container">
             <div class="row justify-content-center">
                        <div class="col-sm-6 col-lg-4">
                            <div class="icon-box icon-box-side">
                                <span class="icon-box-icon text-dark">
                                    <i class="icon-rocket"></i>
                                </span>

                                <div class="icon-box-content">
                                    <h3 class="icon-box-title">Payment & Delivery</h3><!-- End .icon-box-title -->
                                    <p>Free shipping for orders over $50</p>
                                </div><!-- End .icon-box-content -->
                            </div><!-- End .icon-box -->
                        </div><!-- End .col-sm-6 col-lg-4 -->

                        <div class="col-sm-6 col-lg-4">
                            <div class="icon-box icon-box-side">
                                <span class="icon-box-icon text-dark">
                                    <i class="icon-refresh"></i>
                                </span>

                                <div class="icon-box-content">
                                    <h3 class="icon-box-title">Return & Refund</h3><!-- End .icon-box-title -->
                                    <p>Free 100% money back guarantee</p>
                                </div><!-- End .icon-box-content -->
                            </div><!-- End .icon-box -->
                        </div><!-- End .col-sm-6 col-lg-4 -->

                        <div class="col-sm-6 col-lg-4">
                            <div class="icon-box icon-box-side">
                                <span class="icon-box-icon text-dark">
                                    <i class="icon-life-ring"></i>
                                </span>

                                <div class="icon-box-content">
                                    <h3 class="icon-box-title">Quality Support</h3><!-- End .icon-box-title -->
                                    <p>Alway online feedback 24/7</p>
                                </div><!-- End .icon-box-content -->
                            </div><!-- End .icon-box -->
                        </div><!-- End .col-sm-6 col-lg-4 -->
                    </div><!-- End .row --> 
                    </div>



            <div class="container mt-6">
                <div class="banner-group">
                    <div class="text-center">
                       <b> <h1>Explore Popular Categories</h1></b>
                       <hr>
                    </div>
                    <div class="row mt-5">
                        {{#each category}}
                        <div class="col-md-4">
                            <div class="banner banner-border">

                                <a href="/view-category-pro/{{this.categoryName}}">

                                    <img style="height: 400px; width: 377px;"
                                        src="/pictures/category-images/{{this.img}}" alt="Banner">
                                </a>


                                <div class="banner-content">
                                    <h4 class="banner-subtitle"><a href="#"></a></h4><!-- End .banner-subtitle -->
                                   
                                    <a href="#" class="btn btn-outline-primary-2 banner-link"><i
                                            class="icon-long-arrow-right"></i></a>
                                </div><!-- End .banner-content -->
                                
                            </div><!-- End .banner -->
                            <div class="text-center"> <h2 class="banner-title">{{this.categoryName}}
                                    </h2><!-- End .banner-title --> </div>
                        </div><!-- End .col-md-6-->
                        {{/each}}

                    </div><!-- End .row -->
                </div><!-- End .banner-group -->
            </div><!-- End .container -->

            <div class="mb-4"></div><!-- End .mb-6 -->

            {{!-- <div class="container">
                <div class="heading heading-center mb-3">
                    <h2 class="title">Trendy Products</h2><!-- End .title -->

                    <ul class="nav nav-pills justify-content-center" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="trendy-all-link" data-toggle="tab" href="#trendy-all-tab"
                                role="tab" aria-controls="trendy-all-tab" aria-selected="true">All</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="trendy-women-link" data-toggle="tab" href="#trendy-women-tab"
                                role="tab" aria-controls="trendy-women-tab" aria-selected="false">Women</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="trendy-men-link" data-toggle="tab" href="#trendy-men-tab" role="tab"
                                aria-controls="trendy-men-tab" aria-selected="false">Men</a>
                        </li>

                    </ul>
                </div><!-- End .heading -->

                <div class="tab-content tab-content-carousel">
                    <div class="tab-pane p-0 fade show active" id="trendy-all-tab" role="tabpanel"
                        aria-labelledby="trendy-all-link">
                        <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow"
                            data-toggle="owl" data-owl-options='{
                                "nav": false, 
                                "dots": true,
                                "margin": 20,
                                "loop": false,
                                "responsive": {
                                    "0": {
                                        "items":2
                                    },
                                    "480": {
                                        "items":2
                                    },
                                    "768": {
                                        "items":3
                                    },
                                    "992": {
                                        "items":4
                                    },
                                    "1200": {
                                        "items":4,
                                        "nav": true
                                    }
                                }
                            }'>
                            <div class="product product-2">
                                <figure class="product-media">
                                    <a href="product.html">
                                        <img src="assets/images/demos/demo-5/products/product-1-1.jpg"
                                            alt="Product image" class="product-image">
                                        <img src="assets/images/demos/demo-5/products/product-1-2.jpg"
                                            alt="Product image" class="product-image-hover">
                                    </a>

                                    <div class="product-action-vertical">
                                        <a href="#" class="btn-product-icon btn-wishlist btn-expandable"
                                            title="Add to wishlist"><span>add to wishlist</span></a>
                                    </div><!-- End .product-action -->

                                    <div class="product-action product-action-transparent">
                                        <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                    </div><!-- End .product-action -->
                                </figure><!-- End .product-media -->

                                <div class="product-body">
                                    <div class="product-cat">
                                        <a href="#">Clothing</a>
                                    </div><!-- End .product-cat -->
                                    <h3 class="product-title"><a href="product.html">Vest dress</a></h3>
                                    <!-- End .product-title -->
                                    <div class="product-price">
                                        $9.99
                                    </div><!-- End .product-price -->

                                    <div class="product-nav product-nav-dots">
                                        <a href="#" class="active" style="background: #2d272b;"><span
                                                class="sr-only">Color name</span></a>
                                        <a href="#" style="background: #8f957d;"><span class="sr-only">Color
                                                name</span></a>
                                    </div><!-- End .product-nav -->
                                </div><!-- End .product-body -->
                            </div><!-- End .product -->

                            <div class="product product-2">
                                <figure class="product-media">
                                    <a href="product.html">
                                        <img src="assets/images/demos/demo-5/products/product-2-1.jpg"
                                            alt="Product image" class="product-image">
                                        <img src="assets/images/demos/demo-5/products/product-2-2.jpg"
                                            alt="Product image" class="product-image-hover">
                                    </a>

                                    <div class="product-action-vertical">
                                        <a href="#" class="btn-product-icon btn-wishlist btn-expandable"
                                            title="Add to wishlist"><span>add to wishlist</span></a>
                                    </div><!-- End .product-action -->

                                    <div class="product-action product-action-transparent">
                                        <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                    </div><!-- End .product-action -->
                                </figure><!-- End .product-media -->

                                <div class="product-body">
                                    <div class="product-cat">
                                        <a href="#">Clothing</a>
                                    </div><!-- End .product-cat -->
                                    <h3 class="product-title"><a href="product.html">Dress with a belt</a></h3>
                                    <!-- End .product-title -->
                                    <div class="product-price">
                                        $29.99
                                    </div><!-- End .product-price -->
                                </div><!-- End .product-body -->
                            </div><!-- End .product -->

                            <div class="product product-2">
                                <figure class="product-media">
                                    <a href="product.html">
                                        <img src="assets/images/demos/demo-5/products/product-3-1.jpg"
                                            alt="Product image" class="product-image">
                                        <img src="assets/images/demos/demo-5/products/product-3-2.jpg"
                                            alt="Product image" class="product-image-hover">
                                    </a>

                                    <div class="product-action-vertical">
                                        <a href="#" class="btn-product-icon btn-wishlist btn-expandable"
                                            title="Add to wishlist"><span>add to wishlist</span></a>
                                    </div><!-- End .product-action -->

                                    <div class="product-action product-action-transparent">
                                        <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                    </div><!-- End .product-action -->
                                </figure><!-- End .product-media -->

                                <div class="product-body">
                                    <div class="product-cat">
                                        <a href="#">Shoes</a>
                                    </div><!-- End .product-cat -->
                                    <h3 class="product-title"><a href="product.html">Sandals</a></h3>
                                    <!-- End .product-title -->
                                    <div class="product-price">
                                        <span class="new-price">Now $24.99</span>
                                        <span class="old-price">Was $30.99</span>
                                    </div><!-- End .product-price -->
                                </div><!-- End .product-body -->
                            </div><!-- End .product -->

                            <div class="product product-2">
                                <figure class="product-media">
                                    <a href="product.html">
                                        <img src="assets/images/demos/demo-5/products/product-4-1.jpg"
                                            alt="Product image" class="product-image">
                                        <img src="assets/images/demos/demo-5/products/product-4-2.jpg"
                                            alt="Product image" class="product-image-hover">
                                    </a>

                                    <div class="product-action-vertical">
                                        <a href="#" class="btn-product-icon btn-wishlist btn-expandable"
                                            title="Add to wishlist"><span>add to wishlist</span></a>
                                    </div><!-- End .product-action -->

                                    <div class="product-action product-action-transparent">
                                        <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                    </div><!-- End .product-action -->
                                </figure><!-- End .product-media -->

                                <div class="product-body">
                                    <div class="product-cat">
                                        <a href="#">Handbags</a>
                                    </div><!-- End .product-cat -->
                                    <h3 class="product-title"><a href="product.html">Bucket bag</a></h3>
                                    <!-- End .product-title -->
                                    <div class="product-price">
                                        $17.99
                                    </div><!-- End .product-price -->
                                </div><!-- End .product-body -->
                            </div><!-- End .product -->
                            <div class="product product-2">
                                <figure class="product-media">
                                    <a href="product.html">
                                        <img src="assets/images/demos/demo-5/products/product-1-1.jpg"
                                            alt="Product image" class="product-image">
                                        <img src="assets/images/demos/demo-5/products/product-1-2.jpg"
                                            alt="Product image" class="product-image-hover">
                                    </a>

                                    <div class="product-action-vertical">
                                        <a href="#" class="btn-product-icon btn-wishlist btn-expandable"
                                            title="Add to wishlist"><span>add to wishlist</span></a>
                                    </div><!-- End .product-action -->

                                    <div class="product-action product-action-transparent">
                                        <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                    </div><!-- End .product-action -->
                                </figure><!-- End .product-media -->

                                <div class="product-body">
                                    <div class="product-cat">
                                        <a href="#">Clothing</a>
                                    </div><!-- End .product-cat -->
                                    <h3 class="product-title"><a href="product.html">Vest dress</a></h3>
                                    <!-- End .product-title -->
                                    <div class="product-price">
                                        $9.99
                                    </div><!-- End .product-price -->

                                    <div class="product-nav product-nav-dots">
                                        <a href="#" class="active" style="background: #2d272b;"><span
                                                class="sr-only">Color name</span></a>
                                        <a href="#" style="background: #8f957d;"><span class="sr-only">Color
                                                name</span></a>
                                    </div><!-- End .product-nav -->
                                </div><!-- End .product-body -->
                            </div><!-- End .product -->
                        </div><!-- End .owl-carousel -->
                    </div><!-- .End .tab-pane -->
                    <div class="tab-pane p-0 fade" id="trendy-women-tab" role="tabpanel"
                        aria-labelledby="trendy-women-link">
                        <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow"
                            data-toggle="owl" data-owl-options='{
                                "nav": false, 
                                "dots": true,
                                "margin": 20,
                                "loop": false,
                                "responsive": {
                                    "0": {
                                        "items":2
                                    },
                                    "480": {
                                        "items":2
                                    },
                                    "768": {
                                        "items":3
                                    },
                                    "992": {
                                        "items":4
                                    },
                                    "1200": {
                                        "items":4,
                                        "nav": true
                                    }
                                }
                            }'>
                        </div><!-- End .owl-carousel -->
                    </div><!-- .End .tab-pane -->
                    <div class="tab-pane p-0 fade" id="trendy-men-tab" role="tabpanel"
                        aria-labelledby="trendy-men-link">
                        <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow"
                            data-toggle="owl" data-owl-options='{
                                "nav": false, 
                                "dots": true,
                                "margin": 20,
                                "loop": false,
                                "responsive": {
                                    "0": {
                                        "items":2
                                    },
                                    "480": {
                                        "items":2
                                    },
                                    "768": {
                                        "items":3
                                    },
                                    "992": {
                                        "items":4
                                    },
                                    "1200": {
                                        "items":4,
                                        "nav": true
                                    }
                                }
                            }'>
                        </div><!-- End .owl-carousel -->
                    </div><!-- .End .tab-pane -->
                    <div class="tab-pane p-0 fade" id="trendy-access-tab" role="tabpanel"
                        aria-labelledby="trendy-access-link">
                        <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow"
                            data-toggle="owl" data-owl-options='{
                                "nav": false, 
                                "dots": true,
                                "margin": 20,
                                "loop": false,
                                "responsive": {
                                    "0": {
                                        "items":2
                                    },
                                    "480": {
                                        "items":2
                                    },
                                    "768": {
                                        "items":3
                                    },
                                    "992": {
                                        "items":4
                                    },
                                    "1200": {
                                        "items":4,
                                        "nav": true
                                    }
                                }
                            }'>
                        </div><!-- End .owl-carousel -->
                    </div><!-- .End .tab-pane -->
                </div><!-- End .tab-content -->
            </div><!-- End .container --> --}}

            <div class="mb-5"></div><!-- End .mb-5 -->

            {{!-- <div class="video-banner video-banner-bg bg-image text-center"
                style="background-image: url(assets/images/demos/demo-5/bg-2.jpg)">
                <div class="container">
                    <h3 class="video-banner-title h1 text-white"><span>New Collection</span><strong>Winter’19 <i>/</i>
                            Spring’20</strong></h3><!-- End .video-banner-title -->
                    <a href="https://www.youtube.com/watch?v=vBPgmASQ1A0" class="btn-video btn-iframe"><i
                            class="icon-play"></i></a>
                </div><!-- End .container -->
            </div><!-- End .video-banner bg-image --> --}}

            <div class="pt-6 pb-6" style="background-color: #fff;">
                <div class="container">
                    <div class="banner-set">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="banner-set-content text-center">
                                    <div class="set-content-wrapper">
                                        <h4>Special</h4>
                                        <h2>Refine Your Style.</h2>

                                        <p>Get on our exclusive email list and be the first to hear about sales,
                                            coupons, new arrivals and more! </p>

                                        <div class="banner-set-products">
                                            <div class="row">
                                                <div class="products">
                                                    <div class="col-6">
                                                        <div class="product product-2 text-center">
                                                            <figure class="product-media">
                                                                <a href="/show-product">
                                                                    <img src="/pictures/other-images/333.jpg"
                                                                        alt="Product image" class="product-image">
                                                                </a>
                                                            </figure><!-- End .product-media -->

                                                            <div class="product-body">
                                                                <h3 class="product-title"><a
                                                                        href="product.html">Rib-knit cardigan</a></h3>
                                                                <!-- End .product-title -->
                                                                <div class="product-price">
                                                                    $24.99
                                                                </div><!-- End .product-price -->
                                                            </div><!-- End .product-body -->
                                                        </div><!-- End .product -->
                                                    </div><!-- End .col-sm-6 -->

                                                    <div class="col-6">
                                                        <div class="product product-2 text-center">
                                                            <figure class="product-media">
                                                                <a href="/show-product">
                                                                    <img src="/pictures/other-images/222.jpg"
                                                                        alt="Product image" class="product-image">
                                                                </a>
                                                            </figure><!-- End .product-media -->

                                                            <div class="product-body">
                                                                <h3 class="product-title"><a
                                                                        href="/show-product">Linen-blend trousers</a>
                                                                </h3><!-- End .product-title -->
                                                                <div class="product-price">
                                                                    $19.99
                                                                </div><!-- End .product-price -->
                                                            </div><!-- End .product-body -->
                                                        </div><!-- End .product -->
                                                    </div><!-- End .col-sm-6 -->
                                                </div>
                                            </div><!-- End .row -->
                                        </div><!-- End .banner-set-products -->
                                    </div><!-- End .set-content-wrapper -->
                                </div><!-- End .banner-set-content -->
                            </div><!-- End .col-lg-6 -->
                            <div class="col-lg-6">
                                <div class="banner-set-image banner-border-hover">
                                    <a href="#">
                                        <img src="/pictures/other-images/111.jpg" style="height:650px ;" alt="banner">
                                    </a>
                                    <div class="banner-content">
                                        <h3 class="banner-title"><a href="#"><span>The Best <br>Perfumed
                                                    Candles</span></a></h3><!-- End .banner-title -->
                                        <h4 class="banner-subtitle">in this look</h4>
                                        <!-- End .banner-subtitle -->
                                        <h4 class="banner-detail">• Rib-knit cardigan <br>• Linen-blend paper bag
                                            trousers</h4>
                                        <h4 class="banner-price">$19.99 - $48.00</h4>
                                        <a href="#" class="btn btn-outline-primary-2 banner-link">buy all</a>
                                    </div><!-- End .banner-content -->
                                </div><!-- End .banner-set-image -->
                            </div><!-- End .col-lg-6 -->
                        </div><!-- End .row -->
                    </div><!-- End .banner-set -->
                </div><!-- End .container -->
            </div><!-- End .bg-lighter pt6 pb-6 -->

            <div class="container pt-6 new-arrivals">
                <div class="heading heading-center mb-3">
                    <h2 class="title">New Arrivals</h2><!-- End .title -->

                    <ul class="nav nav-pills justify-content-center" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="new-all-link" data-toggle="tab" href="#new-all-tab"
                                role="tab" aria-controls="new-all-tab" aria-selected="true">All</a>
                        </li>
                        <li class="nav-item">
                         
                                <a  class="nav-link" id="new-cloth-link" data-toggle="tab" role="tab"
                                aria-controls="new-cloth-tab"  href="/view-category-pro/{{category.categoryName}}">Candles</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="new-shoes-link" data-toggle="tab" href="#new-shoes-tab" role="tab"
                                aria-controls="new-shoes-tab" aria-selected="false">Diffusers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="new-access-link" data-toggle="tab" href="#new-access-tab" role="tab"
                                aria-controls="new-access-tab" aria-selected="false">Reed Sticks</a>
                        </li>
                    </ul>
                </div><!-- End .heading -->
                {{!-- -----------------------products page======================= --}}
                  <div class="container pt-6 new-arrivals">
              

                <div class="tab-content">
                    <div class="tab-pane p-0 fade show active" id="new-all-tab" role="tabpanel" aria-labelledby="new-all-link">
                        <div class="products">
                            <div class="row justify-content-center">
                                {{#each products}}
                                <div class="col-6 col-md-4 col-lg-3">
                                    <div class="product product-2">
                                        <figure class="product-media">
                                            <a href="/product/{{this._id}}">
                                                <img src="/pictures/product-images/{{this.img.[0]}}" alt="Product image" class="product-image">
                                                <img src="/pictures/product-images/{{this.img.[1]}}" alt="Product image" class="product-image-hover">
                                            </a>

                                            <div class="product-action-vertical">
                                                <a onclick="addToWishlist('{{this._id}}')" class="btn-product-icon btn-wishlist" 
                                                 title="Add to wishlist"><span>add to wishlist</span></a>
                                            </div><!-- End .product-action -->

                                            <div class="product-action product-action-transparent">
                                                 <button class="btn-product btn-cart" style="border: none;" 
                                                    onclick="addToCart('{{this._id}}')"><span>Add to Cart</span></button>
                                            </div><!-- End .product-action -->
                                        </figure><!-- End .product-media -->



                                        <div class="product-body">
                                         
                                            <div class="product-cat">
                                              <a href="#">{{this.category}}</a>
                                            </div><!-- End .product-cat -->
                                            <h3 class="product-title"><a href="product.html">{{this.name}}</a></h3><!-- End .product-title -->
                                            {{#if this.oldPrice}}
                                            <div class="product-price" style="text-decoration:line-through;color:#727272;" class="product-price">
                                              now  ${{this.oldPrice}}
                                            </div><!-- End .product-price -->
                                            <div class="product-price  text-danger">
                                             was  ${{this.price}}
                                            </div><!-- End .product-price -->
                                            {{else}}
                                            <div class="product-price" style="color:#727272;" class="product-price">
                                              now  ${{this.price}}
                                            </div><!-- End .product-price -->
                                          
                                            {{/if}}
                                            <div class="product-nav product-nav-dots">
                                                <a href="#" class="active" style="background: #e5dcb1;"><span class="sr-only">Color name</span></a>
                                                <a href="#" style="background: #b9cbd8;"><span class="sr-only">Color name</span></a>
                                            </div><!-- End .product-nav -->
                                        </div><!-- End .product-body -->
                                    </div><!-- End .product -->
                                </div><!-- End .col-sm-6 col-md-4 col-lg-3 -->

                               {{/each}}
                               
                               
                                
                              
                               
                            </div><!-- End .row -->
                        </div><!-- End .products -->
                    </div><!-- .End .tab-pane -->
                   
                    
                   
                </div><!-- End .tab-content -->

                <div class="more-container text-center mt-1 mb-3">
                    <a href="#" class="btn btn-outline-primary-2 btn-round btn-more">Load more</a>
                </div><!-- End .more-container -->
            </div><!-- End .container -->
                {{!-- -------------------products page-------------------------------- --}}
               

            <div class="mb-2"></div><!-- End .mb-2 -->

            <div class="container">
                <div class="cta cta-separator mb-5">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="cta-wrapper cta-text text-center">
                                <h3 class="cta-title">Shop Social</h3><!-- End .cta-title -->
                                <p class="cta-desc">Donec nec justo eget felis facilisis fermentum. Aliquam porttitor
                                    mauris sit amet orci. </p><!-- End .cta-desc -->

                                <div class="social-icons social-icons-colored justify-content-center">
                                    <a href="#" class="social-icon social-facebook" title="Facebook" target="_blank"><i
                                            class="icon-facebook-f"></i></a>
                                    <a href="#" class="social-icon social-twitter" title="Twitter" target="_blank"><i
                                            class="icon-twitter"></i></a>
                                    <a href="#" class="social-icon social-instagram" title="Instagram"
                                        target="_blank"><i class="icon-instagram"></i></a>
                                    <a href="#" class="social-icon social-youtube" title="Youtube" target="_blank"><i
                                            class="icon-youtube"></i></a>
                                    <a href="#" class="social-icon social-pinterest" title="Pinterest"
                                        target="_blank"><i class="icon-pinterest"></i></a>
                                </div><!-- End .soial-icons -->
                            </div><!-- End .cta-wrapper -->
                        </div><!-- End .col-lg-6 -->

                        <div class="col-lg-6">
                            <div class="cta-wrapper text-center">
                                <h3 class="cta-title">Get the Latest Deals</h3><!-- End .cta-title -->
                                <p class="cta-desc">and <br>receive <span class="text-primary">$20 coupon</span> for
                                    first shopping</p><!-- End .cta-desc -->

                                <form action="#">
                                    <div class="input-group">
                                        <input type="email" class="form-control" placeholder="Enter your Email Address"
                                            aria-label="Email Adress" required>
                                        <div class="input-group-append">
                                            <button class="btn btn-primary btn-rounded" type="submit"><i
                                                    class="icon-long-arrow-right"></i></button>
                                        </div><!-- .End .input-group-append -->
                                    </div><!-- .End .input-group -->
                                </form>
                            </div><!-- End .cta-wrapper -->
                        </div><!-- End .col-lg-6 -->
                    </div><!-- End .row -->
                </div><!-- End .cta -->
            </div><!-- End .container -->

            <div class="bg-lighter pt-7 pb-4" style="background-color: #fafafa;">
                <div class="container">
                    <div class="instagram-feed-container">
                        <div class="row">
                            <div class="feed-col">
                                <div class="instagram-feed">
                                    <img src="assets/images/demos/demo-5/instagram/1.jpg" alt="img">

                                    <div class="instagram-feed-content">
                                        <a href="#"><i class="icon-heart-o"></i>387</a>
                                        <a href="#"><i class="icon-comments"></i>45</a>
                                    </div><!-- End .instagram-feed-content -->
                                </div><!-- End .instagram-feed -->
                            </div><!-- End .feed-col -->

                            <div class="feed-col">
                                <div class="instagram-feed">
                                    <img src="assets/images/demos/demo-5/instagram/2.jpg" alt="img">

                                    <div class="instagram-feed-content">
                                        <a href="#"><i class="icon-heart-o"></i>691</a>
                                        <a href="#"><i class="icon-comments"></i>87</a>
                                    </div><!-- End .instagram-feed-content -->
                                </div><!-- End .instagram-feed -->
                            </div><!-- End .feed-col -->

                            <div class="feed-col feed-col-title">
                                <div class="instagram-feed-title">
                                    <i class="icon-instagram"></i>
                                    <p>@Molla_store <br>on instagram</p>
                                    <a href="#">FOLLOW</a>
                                </div><!-- End .instagram-feed-title -->
                            </div><!-- End .feed-col -->

                            <div class="feed-col">
                                <div class="instagram-feed">
                                    <img src="assets/images/demos/demo-5/instagram/3.jpg" alt="img">

                                    <div class="instagram-feed-content">
                                        <a href="#"><i class="icon-heart-o"></i>321</a>
                                        <a href="#"><i class="icon-comments"></i>54</a>
                                    </div><!-- End .instagram-feed-content -->
                                </div><!-- End .instagram-feed -->
                            </div><!-- End .feed-col -->

                            <div class="feed-col">
                                <div class="instagram-feed">
                                    <img src="assets/images/demos/demo-5/instagram/4.jpg" alt="img">

                                    <div class="instagram-feed-content">
                                        <a href="#"><i class="icon-heart-o"></i>44</a>
                                        <a href="#"><i class="icon-comments"></i>55</a>
                                    </div><!-- End .instagram-feed-content -->
                                </div><!-- End .instagram-feed -->
                            </div><!-- End .feed-col -->

                            <div class="feed-col">
                                <div class="instagram-feed">
                                    <img src="assets/images/demos/demo-5/instagram/5.jpg" alt="img">

                                    <div class="instagram-feed-content">
                                        <a href="#"><i class="icon-heart-o"></i>128</a>
                                        <a href="#"><i class="icon-comments"></i>99</a>
                                    </div><!-- End .instagram-feed-content -->
                                </div><!-- End .instagram-feed -->
                            </div><!-- End .feed-col -->

                            <div class="feed-col">
                                <div class="instagram-feed">
                                    <img src="assets/images/demos/demo-5/instagram/6.jpg" alt="img">

                                    <div class="instagram-feed-content">
                                        <a href="#"><i class="icon-heart-o"></i>433</a>
                                        <a href="#"><i class="icon-comments"></i>25</a>
                                    </div><!-- End .instagram-feed-content -->
                                </div><!-- End .instagram-feed -->
                            </div><!-- End .feed-col -->

                            <div class="feed-col">
                                <div class="instagram-feed">
                                    <img src="assets/images/demos/demo-5/instagram/7.jpg" alt="img">

                                    <div class="instagram-feed-content">
                                        <a href="#"><i class="icon-heart-o"></i>588</a>
                                        <a href="#"><i class="icon-comments"></i>44</a>
                                    </div><!-- End .instagram-feed-content -->
                                </div><!-- End .instagram-feed -->
                            </div><!-- End .feed-col -->

                            <div class="feed-col">
                                <div class="instagram-feed">
                                    <img src="assets/images/demos/demo-5/instagram/8.jpg" alt="img">

                                    <div class="instagram-feed-content">
                                        <a href="#"><i class="icon-heart-o"></i>87</a>
                                        <a href="#"><i class="icon-comments"></i>23</a>
                                    </div><!-- End .instagram-feed-content -->
                                </div><!-- End .instagram-feed -->
                            </div><!-- End .feed-col -->

                            <div class="feed-col">
                                <div class="instagram-feed">
                                    <img src="assets/images/demos/demo-5/instagram/9.jpg" alt="img">

                                    <div class="instagram-feed-content">
                                        <a href="#"><i class="icon-heart-o"></i>87</a>
                                        <a href="#"><i class="icon-comments"></i>23</a>
                                    </div><!-- End .instagram-feed-content -->
                                </div><!-- End .instagram-feed -->
                            </div><!-- End .feed-col -->
                        </div><!-- End .row -->
                    </div><!-- End .instagra-feed-container -->

                   
                </div><!-- End .container -->
            </div><!-- End .bg-lighter pt-5 pb-5 -->
        </main><!-- End .main -->

        <footer class="footer footer-2">
            <div class="footer-middle border-0">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-lg-6">
                            <div class="widget widget-about">
                                <img src="assets/images/demos/demo-5/logo-footer.png" class="footer-logo"
                                    alt="Footer Logo" width="105" height="25">
                                <p>Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue, eu vulputate
                                    magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan
                                    porttitor, facilisis luctus, metus. </p>

                                <div class="widget-about-info">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-4">
                                            <span class="widget-about-title">Got Question? Call us 24/7</span>
                                            <a href="tel:123456789">+0123 456 789</a>
                                        </div><!-- End .col-sm-6 -->
                                        <div class="col-sm-6 col-md-8">
                                            <span class="widget-about-title">Payment Method</span>
                                            <figure class="footer-payments">
                                                <img src="assets/images/payments.png" alt="Payment methods" width="272"
                                                    height="20">
                                            </figure><!-- End .footer-payments -->
                                        </div><!-- End .col-sm-6 -->
                                    </div><!-- End .row -->
                                </div><!-- End .widget-about-info -->
                            </div><!-- End .widget about-widget -->
                        </div><!-- End .col-sm-12 col-lg-3 -->

                        <div class="col-sm-4 col-lg-2">
                            <div class="widget">
                                <h4 class="widget-title">Information</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="about.html">About Molla</a></li>
                                    <li><a href="#">How to shop on Molla</a></li>
                                    <li><a href="faq.html">FAQ</a></li>
                                    <li><a href="contact.html">Contact us</a></li>
                                    <li><a href="login.html">Log in</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-4 col-lg-3 -->

                        <div class="col-sm-4 col-lg-2">
                            <div class="widget">
                                <h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="#">Payment Methods</a></li>
                                    <li><a href="#">Money-back guarantee!</a></li>
                                    <li><a href="#">Returns</a></li>
                                    <li><a href="#">Shipping</a></li>
                                    <li><a href="#">Terms and conditions</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-4 col-lg-3 -->

                        <div class="col-sm-4 col-lg-2">
                            <div class="widget">
                                <h4 class="widget-title">My Account</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="#">Sign In</a></li>
                                    <li><a href="cart.html">View Cart</a></li>
                                    <li><a href="#">My Wishlist</a></li>
                                    <li><a href="#">Track My Order</a></li>
                                    <li><a href="#">Help</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-64 col-lg-3 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .footer-middle -->

            <div class="footer-bottom">
                <div class="container">
                    <p class="footer-copyright">Copyright © 2019 Molla Store. All Rights Reserved.</p>
                    <!-- End .footer-copyright -->
                    <ul class="footer-menu">
                        <li><a href="#">Terms Of Use</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul><!-- End .footer-menu -->
                    <div class="social-icons social-icons-color">
                        <span class="social-label">Social Media</span>
                        <a href="#" class="social-icon social-facebook" title="Facebook" target="_blank"><i
                                class="icon-facebook-f"></i></a>
                        <a href="#" class="social-icon social-twitter" title="Twitter" target="_blank"><i
                                class="icon-twitter"></i></a>
                        <a href="#" class="social-icon social-instagram" title="Instagram" target="_blank"><i
                                class="icon-instagram"></i></a>
                        <a href="#" class="social-icon social-youtube" title="Youtube" target="_blank"><i
                                class="icon-youtube"></i></a>
                        <a href="#" class="social-icon social-pinterest" title="Pinterest" target="_blank"><i
                                class="icon-pinterest"></i></a>
                    </div><!-- End .soial-icons -->
                </div><!-- End .container -->
            </div><!-- End .footer-bottom -->
        </footer><!-- End .footer -->
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

    <div class="mobile-menu-container mobile-menu-light">
        <div class="mobile-menu-wrapper">
            <span class="mobile-menu-close"><i class="icon-close"></i></span>

            <form action="#" method="get" class="mobile-search">
                <label for="mobile-search" class="sr-only">Search</label>
                <input type="search" class="form-control" name="mobile-search" id="mobile-search"
                    placeholder="Search in..." required>
                <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
            </form>

            <nav class="mobile-nav">
                <ul class="mobile-menu">
                    <li class="active">
                        <a href="index.html">Home</a>

                        <ul>
                            <li><a href="index-1.html">01 - furniture store</a></li>
                            <li><a href="index-2.html">02 - furniture store</a></li>
                            <li><a href="index-3.html">03 - electronic store</a></li>
                            <li><a href="index-4.html">04 - electronic store</a></li>
                            <li><a href="index-5.html">05 - fashion store</a></li>
                            <li><a href="index-6.html">06 - fashion store</a></li>
                            <li><a href="index-7.html">07 - fashion store</a></li>
                            <li><a href="index-8.html">08 - fashion store</a></li>
                            <li><a href="index-9.html">09 - fashion store</a></li>
                            <li><a href="index-10.html">10 - shoes store</a></li>
                            <li><a href="index-11.html">11 - furniture simple store</a></li>
                            <li><a href="index-12.html">12 - fashion simple store</a></li>
                            <li><a href="index-13.html">13 - market</a></li>
                            <li><a href="index-14.html">14 - market fullwidth</a></li>
                            <li><a href="index-15.html">15 - lookbook 1</a></li>
                            <li><a href="index-16.html">16 - lookbook 2</a></li>
                            <li><a href="index-17.html">17 - fashion store</a></li>
                            <li><a href="index-18.html">18 - fashion store (with sidebar)</a></li>
                            <li><a href="index-19.html">19 - games store</a></li>
                            <li><a href="index-20.html">20 - book store</a></li>
                            <li><a href="index-21.html">21 - sport store</a></li>
                            <li><a href="index-22.html">22 - tools store</a></li>
                            <li><a href="index-23.html">23 - fashion left navigation store</a></li>
                            <li><a href="index-24.html">24 - extreme sport store</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="category.html">Shop</a>
                        <ul>
                            <li><a href="category-list.html">Shop List</a></li>
                            <li><a href="category-2cols.html">Shop Grid 2 Columns</a></li>
                            <li><a href="category.html">Shop Grid 3 Columns</a></li>
                            <li><a href="category-4cols.html">Shop Grid 4 Columns</a></li>
                            <li><a href="category-boxed.html"><span>Shop Boxed No Sidebar<span
                                            class="tip tip-hot">Hot</span></span></a></li>
                            <li><a href="category-fullwidth.html">Shop Fullwidth No Sidebar</a></li>
                            <li><a href="product-category-boxed.html">Product Category Boxed</a></li>
                            <li><a href="product-category-fullwidth.html"><span>Product Category Fullwidth<span
                                            class="tip tip-new">New</span></span></a></li>
                            <li><a href="cart.html">Cart</a></li>
                            <li><a href="checkout.html">Checkout</a></li>
                            <li><a href="wishlist.html">Wishlist</a></li>
                            <li><a href="#">Lookbook</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="product.html" class="sf-with-ul">Product</a>
                        <ul>
                            <li><a href="product.html">Default</a></li>
                            <li><a href="product-centered.html">Centered</a></li>
                            <li><a href="product-extended.html"><span>Extended Info<span
                                            class="tip tip-new">New</span></span></a></li>
                            <li><a href="product-gallery.html">Gallery</a></li>
                            <li><a href="product-sticky.html">Sticky Info</a></li>
                            <li><a href="product-sidebar.html">Boxed With Sidebar</a></li>
                            <li><a href="product-fullwidth.html">Full Width</a></li>
                            <li><a href="product-masonry.html">Masonry Sticky Info</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Pages</a>
                        <ul>
                            <li>
                                <a href="about.html">About</a>

                                <ul>
                                    <li><a href="about.html">About 01</a></li>
                                    <li><a href="about-2.html">About 02</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="contact.html">Contact</a>

                                <ul>
                                    <li><a href="contact.html">Contact 01</a></li>
                                    <li><a href="contact-2.html">Contact 02</a></li>
                                </ul>
                            </li>
                            <li><a href="login.html">Login</a></li>
                            <li><a href="faq.html">FAQs</a></li>
                            <li><a href="404.html">Error 404</a></li>
                            <li><a href="coming-soon.html">Coming Soon</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="blog.html">Blog</a>

                        <ul>
                            <li><a href="blog.html">Classic</a></li>
                            <li><a href="blog-listing.html">Listing</a></li>
                            <li>
                                <a href="#">Grid</a>
                                <ul>
                                    <li><a href="blog-grid-2cols.html">Grid 2 columns</a></li>
                                    <li><a href="blog-grid-3cols.html">Grid 3 columns</a></li>
                                    <li><a href="blog-grid-4cols.html">Grid 4 columns</a></li>
                                    <li><a href="blog-grid-sidebar.html">Grid sidebar</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Masonry</a>
                                <ul>
                                    <li><a href="blog-masonry-2cols.html">Masonry 2 columns</a></li>
                                    <li><a href="blog-masonry-3cols.html">Masonry 3 columns</a></li>
                                    <li><a href="blog-masonry-4cols.html">Masonry 4 columns</a></li>
                                    <li><a href="blog-masonry-sidebar.html">Masonry sidebar</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Mask</a>
                                <ul>
                                    <li><a href="blog-mask-grid.html">Blog mask grid</a></li>
                                    <li><a href="blog-mask-masonry.html">Blog mask masonry</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Single Post</a>
                                <ul>
                                    <li><a href="single.html">Default with sidebar</a></li>
                                    <li><a href="single-fullwidth.html">Fullwidth no sidebar</a></li>
                                    <li><a href="single-fullwidth-sidebar.html">Fullwidth with sidebar</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="elements-list.html">Elements</a>
                        <ul>
                            <li><a href="elements-products.html">Products</a></li>
                            <li><a href="elements-typography.html">Typography</a></li>
                            <li><a href="elements-titles.html">Titles</a></li>
                            <li><a href="elements-banners.html">Banners</a></li>
                            <li><a href="elements-product-category.html">Product Category</a></li>
                            <li><a href="elements-video-banners.html">Video Banners</a></li>
                            <li><a href="elements-buttons.html">Buttons</a></li>
                            <li><a href="elements-accordions.html">Accordions</a></li>
                            <li><a href="elements-tabs.html">Tabs</a></li>
                            <li><a href="elements-testimonials.html">Testimonials</a></li>
                            <li><a href="elements-blog-posts.html">Blog Posts</a></li>
                            <li><a href="elements-portfolio.html">Portfolio</a></li>
                            <li><a href="elements-cta.html">Call to Action</a></li>
                            <li><a href="elements-icon-boxes.html">Icon Boxes</a></li>
                        </ul>
                    </li>
                </ul>
            </nav><!-- End .mobile-nav -->

            <div class="social-icons">
                <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
            </div><!-- End .social-icons -->
        </div><!-- End .mobile-menu-wrapper -->
    </div><!-- End .mobile-menu-container -->

   

        <script>
           
        </script>