<body>
    <div class="page-wrapper">
        <main class="main">
            <div class=" page-wrapper page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
                <div class="container">
                    <h1 class="page-title">My Account<span>RAHA</span></h1>
                </div><!-- End .container -->
            </div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Shop</a></li>
                        <li class="breadcrumb-item active" aria-current="page">My Account</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
                <div class="dashboard">
                    <div class="container">
                        <div class="row mt-5">
                            <aside class="col-md-4 col-lg-3">
                                <ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="tab-dashboard-link" data-toggle="tab"
                                            href="#tab-dashboard" role="tab" aria-controls="tab-dashboard"
                                            aria-selected="true">Dashboard</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="tab-orders-link" data-toggle="tab" href="#tab-orders"
                                            role="tab" aria-controls="tab-orders" aria-selected="false">Orders</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="tab-downloads-link" data-toggle="tab"
                                            href="#tab-downloads" role="tab" aria-controls="tab-downloads"
                                            aria-selected="false">Wallet
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="tab-address-link" data-toggle="tab" href="#tab-address"
                                            role="tab" aria-controls="tab-address" aria-selected="false">Addresses</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="tab-account-link" data-toggle="tab" href="#tab-account"
                                            role="tab" aria-controls="tab-account" aria-selected="false">Account
                                            Details</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Sign Out</a>
                                    </li>
                                </ul>
                            </aside><!-- End .col-lg-3 -->


                            {{!-- Dashboard --}}
                            <div class="col-md-8 col-lg-9">
                                <div class="tab-content">
                                    <div class="tab-pane fade show active" id="tab-dashboard" role="tabpanel"
                                        aria-labelledby="tab-dashboard-link">
                                        <div style="border: 5px;" class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                                        <div class="container rounded bg-white">
                                            <div class="row">

                                                <div class="col-md-3 border-right">
                                                    <div
                                                        class="d-flex flex-column align-items-center text-center p-3 py-5">
                                                        <img class="rounded-circle mt-5" width="150px"
                                                            src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
                                                        <span class="font-weight-bold">{{user.name}}</span><span
                                                            class="text-black-50">{{user.email}}</span><span> </span>
                                                    </div>
                                                </div>

                                                <div class="col-md-5 border-right">
                                                    <div class="p-3 py-5">

                                                     
                                                   <table style="width:100%  " class="text-center">
                                                            <tbody><tr class="col">
                                                                <th>Name:</th>
                                                                <td>{{user.name}}</td>
                                                            </tr>
                                                            <tr>
                                                                <th>Phone:</th>
                                                                <td>{{user.phone}}</td>
                                                            </tr>
                                                            <tr>
                                                                <th>E-mail :</th>
                                                                <td>{{user.email}}</td>
                                                            </tr>
                                                        </tbody></table>

                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="col-sm-12">

                                                        <h5 class="form-text mt-3">Referral Code </h5>

                                                        <center><input type="text" value="{{user.userReferal}}" id="refCode" disabled="">
                                                            <button class="btn btn-outline-success" onclick="myFunction()">Copy Referral Code</button>
                                                        </center>


                                                        <p class="text">Hello ,
                                                            <br>
                                                            From your account dashboard you can view your <a href="#tab-orders" class="tab-trigger-link link-underline">recent
                                                                orders</a>,
                                                            manage your <a href="#tab-address" class="tab-trigger-link">shipping and billing
                                                                addresses</a>, and <a href="#tab-account" class="tab-trigger-link">edit your
                                                                password and account details</a>.
                                                        </p>
                                                    </div>
                                                    </div>
                              
                                    </div><!-- .End .tab-pane -->
                                    {{!-- DashBoard ends --}}

                                    {{!-- orders page --}}
                                    <div class="tab-pane fade" id="tab-orders" role="tabpanel"
                                        aria-labelledby="tab-orders-link">
                                        <hr> {{#each orders}}
                                        <div class="row  justify-content-center">

                                            <div class="col-lg-4 text-center">
                                                <p>Order Id :{{this._id}}</p>

                                                <p>To :
                                                <h6>{{this.deliveryDetails.firstName}} {{this.deliveryDetails.lastName}}
                                                </h6>
                                                </p>
                                                <p>{{this.deliveryDetails.address}}</p>
                                            </div>
                                            <div class="col-lg-4 text-center">
                                                <p>Total Amount :{{this.totalAmount}}</p>
                                                <p>Payment Method :{{this.paymentMethod}}</p>
                                                <br>
                                                <p>Track Order :</p>

                                                <p>Date :{{this.date}}</p>
                                            </div>
                                            <div class="col-lg-4 text-center">
                                                <p>Click To ViewProducts</p>
                                                <a style="height: 50px;" href="/view-ordered-products/{{this._id}}"
                                                    class="btn btn-success text-white">View Products</a>
                                            </div>
                                        </div>
                                        <hr>{{/each}}
                                        {{!-- <a href="category.html" class="btn btn-outline-success-2"><span>GO
                                                SHOP</span><i class="icon-long-arrow-right"></i></a> --}}


                                    </div>
                                    <!-- .End .tab-pane -->
                                    {{!-- orders page end --}}


                                    <div class="tab-pane fade" id="tab-downloads" role="tabpanel"
                                        aria-labelledby="tab-downloads-link">
                                        <div class="d-flex">
                                           <img src="/pictures/other-images/raha.png" style="height:35px ;width:40px"> <h3 style="color:rgb(6, 139, 137) ;">RAHA Wallet</h3>
                                        </div>
                                        <div class="card">
                                     <div class="card-body" style="border: 2px solid rgb(237, 214, 171);border-radius: 4px; width:auto ;">
                                    <div class="row">
                                        <div class="col-md-3">
                                        <img src="https://cdn.dribbble.com/users/61734/screenshots/5384735/media/cf4f6e9320fbf91053e149fc7cae6b72.png?compress=1&resize=1000x750&vertical=top" alt="" style="height:112px;" >
                                    </div>
                                    <div class="col-md-3">
                                        <h5 class="mt-5">Wallet Balance : </h5>
                                    </div>
                                    <div class="col-md-3">
                                        <h4 class="mt-5 ">₹ <span class="text-success mt-5">{{wallet.balance}}</span></h4>
                                    </div>
                                    <div class="col-md-3 mt-5">
                                         <BUTTON ONCLICK="ShowAndHide()" id="showButton" class="btn btn-success rounded"> Transactions</BUTTON>
                                    </div>
                                    </div>
                                    
                                     </div>
                                   </div>
                                        <div  id="SectionName" STYLE="display:none">Transactions
                                            {{#each wallet.transactions}}
                                            <div class="card mt-3" style="border: 2px solid lightblue;border-radius: 4px; width:auto ;">
                                            <div class="card-body col-md-10">
                                            <div class="row">
                                                <div class="col-md-3">
                                             {{this.date}}
                                            </div>
                                            <div class="col-md-3">
                                               
                                                Rs &nbsp; <span class="text-success">{{this.credit}}</span>
                                               <br>
                                                Rs &nbsp; <span class="text-danger">{{this.debit}}</span>
                                                
                                            </div>
                                            <div class="col-md-3">
                                      
                                                <p class="text-success">Credited</p>
                                              
                                                <p class="text-danger">Debited </p>

                                                
                                            </div>
                                            <div class="col-md-3">
                                                <p>{{this.message}}</p>
                                            </div>
                                            </div>
                                            </div>
                                            </div>
                                            {{/each}}
                                        </div>
                                    </div><!-- .End .tab-pane -->

                                    <div class="tab-pane fade" id="tab-address" role="tabpanel"
                                        aria-labelledby="tab-address-link">


                                        <div class="row">{{#each address}}
                                            <div class="col-lg-6">
                                                <div class="card card-dashboard">
                                                    <div class="card-body">
                                                        <h3 class="card-title ">Billing Address</h3>
                                                        <!-- End .card-title -->

                                                        <p>{{this.firstName}} {{this.lastName}} <br>
                                                            {{this.address}}
                                                            {{this.mobile}}<br>
                                                            {{this.pincode}}<br>
                                                            {{this.state}},{{this.country}}<br>
                                                            {{this.email}}<br>
                                                            <a href="#edit-address" onclick="getAddress('{{this._id}}')"
                                                                class=" " data-toggle="modal">Edit <i
                                                                    class="icon-edit"></i></a>
                                                        </p>
                                                        <button class="float-right btn btn-danger btn-hover"
                                                            onclick="deleteAddress('{{this._id}}')">Delete</button>
                                                    </div><!-- End .card-body -->
                                                </div><!-- End .card-dashboard -->

                                            </div><!-- End .col-lg-6 -->
                                            {{/each}}


                                            <div class="col-lg-6">
                                                <div class="card card-dashboard">
                                                    <div class="card-body d-flex justify-content-center ">

                                                        {{!---- modal button ----}}
                                                        <div class="">
                                                            <button href="#signin-modal" class="btn btn-info "
                                                                data-toggle="modal"><i class="icon-user"></i>Add
                                                                Address</button>
                                                        </div>
                                                        {{!---- modal button ends ----}}


                                                    </div><!-- End .card-body -->
                                                </div><!-- End .card-dashboard -->
                                            </div><!-- End .col-lg-6 -->

                                        </div><!-- End .row -->
                                    </div><!-- .End .tab-pane -->

                                    <div class="tab-pane fade" id="tab-account" role="tabpanel"
                                        aria-labelledby="tab-account-link">
                                        <form action="#">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <label>Name </label>
                                                    <input type="text" class="form-control" value="{{user.name}}">
                                                </div><!-- End .col-sm-6 -->


                                            </div><!-- End .row -->

                                            <label>Phone No</label>
                                            <input type="text" class="form-control" value="{{user.phone}}">

                                            <label>Email address *</label>
                                            <input type="text" class="form-control" value="{{user.email}}">





                                            <button type="submit" data-toggle="modal"  href="#editPassword-modal" class="btn btn-outline-primary-2">
                                                <span>Change Password</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </button>

                                           

                                        </form>
                                    </div><!-- .End .tab-pane -->
                                </div>
                            </div><!-- End .col-lg-9 -->
                        </div><!-- End .row -->
                    </div><!-- End .container -->
                </div><!-- End .dashboard -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->

       
    <!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

   



    {{!-- add address form modal starts here --}}

    <div class="modal fade" id="signin-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body justify-content-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="icon-close"></i></span>
                    </button>

                    <div class="form-box">
                        <div class="form-tab">
                            <ul class="nav nav-pills nav-fill" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active text-info" id="signin-tab" data-toggle="tab"
                                        href="addAddress" role="tab" aria-controls="signin" aria-selected="true">Add
                                        Address</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="tab-content-5"></div>
                            <div class="tab-pane fade show active" id="signin" role="tabpanel"
                                aria-labelledby="signin-tab">
                                {{!-- modal form starts here --}}
                                <form action="/addAddress" method="post">
                                    <div class="row">
                                        <div class="col-lg">

                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <label>First Name *</label>
                                                    <input type="text" name="firstName" class="form-control" required>
                                                </div><!-- End .col-sm-6 -->

                                                <div class="col-sm-6">
                                                    <label>Last Name *</label>
                                                    <input type="text" name="lastName" class="form-control" required>
                                                </div><!-- End .col-sm-6 -->
                                            </div><!-- End .row -->



                                            <label>Country *</label>
                                            <input type="text" name="country" class="form-control" required>

                                            <label>Street address *</label>
                                            <input type="text" class="form-control" name="address"
                                                placeholder="House number and Street name" required>
                                            {{!-- <input type="text" class="form-control"
                                                placeholder="Appartments, suite, unit etc ..." required> --}}

                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <label>Town / City *</label>
                                                    <input type="text" class="form-control" name="city" required>
                                                </div><!-- End .col-sm-6 -->

                                                <div class="col-sm-6">
                                                    <label>State / County *</label>
                                                    <input type="text" class="form-control" name="state" required>
                                                </div><!-- End .col-sm-6 -->
                                            </div><!-- End .row -->

                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <label>Postcode / ZIP *</label>
                                                    <input type="text" class="form-control" name="pincode" required>
                                                </div><!-- End .col-sm-6 -->

                                                <div class="col-sm-6">
                                                    <label>Phone *</label>
                                                    <input type="tel" class="form-control" name="phone" required>
                                                </div><!-- End .col-sm-6 -->
                                            </div><!-- End .row -->

                                            <label>Email address *</label>
                                            <input type="email" class="form-control" name="email" required>
                                            <input type="text" name="userId" id="" value="{{usr}}" hidden>

                                            <button type="submit"
                                                class="btn btn-outline-primary-2 d-flex justify-content-center btn-order btn-block">
                                                <span class="btn-text">Add your Address</span>
                                                <span class="btn-hover-text">Submit Your Address</span>
                                            </button>
                                        </div><!-- End .col-lg-9 -->

                                    </div><!-- End .row -->
                                </form>
                                {{!-- modal form ends here --}}
                            </div><!-- .End .tab-pane -->
                        </div><!-- End .tab-content -->
                    </div><!-- End .form-tab -->
                </div><!-- End .form-box -->
            </div><!-- End .modal-body -->
        </div><!-- End .modal-content -->
    </div><!-- End .modal-dialog -->
    </div><!-- End .modal -->
    </div>
    {{!-- form modal ends here --}}

    {{!-- edit address form modal starts here --}}

    <div class="modal fade" id="edit-address" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body justify-content-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="icon-close"></i></span>
                    </button>

                    <div class="form-box">
                        <div class="form-tab">
                            <ul class="nav nav-pills nav-fill" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active text-info" id="signin-tab" data-toggle="tab"
                                        href="addAddress" role="tab" aria-controls="signin" aria-selected="true">Add
                                        Address</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="tab-content-5"></div>
                            <div class="tab-pane fade show active" id="signin" role="tabpanel"
                                aria-labelledby="signin-tab">
                                {{!-- modal form starts here --}}
                                <form id="editAddress" >
                                    <div class="row">
                                        <div class="col-lg">

                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <label>First Name *</label>
                                                    <input type="text" name="firstName" id="fname" class="form-control"
                                                        required>
                                                </div><!-- End .col-sm-6 -->

                                                <div class="col-sm-6">
                                                    <label>Last Name *</label>
                                                    <input type="text" name="lastName" id="lname" class="form-control"
                                                        required>
                                                </div><!-- End .col-sm-6 -->
                                            </div><!-- End .row -->



                                            <label>Country *</label>
                                            <input type="text" name="country" id="cntry" class="form-control" required>

                                            <label>Street address *</label>
                                            <input type="text" class="form-control" id="addrss" name="address"
                                                placeholder="House number and Street name" required>
                                            {{!-- <input type="text" class="form-control"
                                                placeholder="Appartments, suite, unit etc ..." required> --}}

                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <label>Town / City *</label>
                                                    <input type="text" class="form-control" id="town" name="city"
                                                        required>
                                                </div><!-- End .col-sm-6 -->

                                                <div class="col-sm-6">
                                                    <label>State / County *</label>
                                                    <input type="text" class="form-control" id="stte" name="state"
                                                        required>
                                                </div><!-- End .col-sm-6 -->
                                            </div><!-- End .row -->

                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <label>Postcode / ZIP *</label>
                                                    <input type="text" class="form-control" id="zip" name="pincode"
                                                        required>
                                                </div><!-- End .col-sm-6 -->

                                                <div class="col-sm-6">
                                                    <label>Phone *</label>
                                                    <input type="tel" class="form-control" id="mobile" name="phone"
                                                        required>
                                                </div><!-- End .col-sm-6 -->
                                            </div><!-- End .row -->

                                            <label>Email address *</label>
                                            <input type="email" class="form-control" id="mail" name="email" required>
                                            <input type="text" name="userId" id="" value="{{user._id}}" hidden>
                                             <input type="text" name="addressId" id="addressId" value=""hidden>

                                            <button type="submit"
                                                class="btn btn-outline-primary-2 d-flex justify-content-center btn-order btn-block">
                                                <span class="btn-text">Edit your Address</span>
                                                <span class="btn-hover-text">Submit Your Address</span>
                                            </button>
                                        </div><!-- End .col-lg-9 -->

                                    </div><!-- End .row -->
                                </form>
                                {{!-- modal form ends here --}}
                            </div><!-- .End .tab-pane -->
                        </div><!-- End .tab-content -->
                    </div><!-- End .form-tab -->
                </div><!-- End .form-box -->
            </div><!-- End .modal-body -->
        </div><!-- End .modal-content -->
    </div><!-- End .modal-dialog -->
    </div><!-- End .modal -->

    {{!-- edit address modal ends here --}}

     {{!-- edit password form modal starts here --}}

    <div class="modal fade" id="editPassword-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body justify-content-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="icon-close"></i></span>
                    </button>

                    <div class="form-box">
                        <div class="form-tab">
                            <ul class="nav nav-pills nav-fill" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active text-info" id="signin-tab" data-toggle="tab"
                                        href="addAddress" role="tab" aria-controls="signin" aria-selected="true">Edit Password</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="tab-content-5"></div>
                            <div class="tab-pane fade show active" id="signin" role="tabpanel"
                                aria-labelledby="signin-tab">
                                {{!-- modal form starts here --}}
                                <form id="userDetails">
                                    <div class="row">
                                        
                                        <div class="col-lg">
                                            <div class="text-center">
                                                <b id="reg-error" style="color: red;"></b>
                                            </div>
                                            <div class="">
                                                <div class="col">
                                                    <label>Current Password *</label>
                                                    <input type="text" name="oldPassword" class="form-control" required>
                                                </div><!-- End .col-sm-6 -->
                                                <br>

                                                <div class="col">
                                                    <label>New Password *</label>
                                                    <input type="text" name="newPassword" class="form-control" required>
                                                </div><!-- End .col-sm-6 -->
                                            </div><!-- End .row -->
                                            <br>

                                             <div class="col">
                                                    <label>Re New Password *</label>
                                                    <input type="text" name="rePassword" class="form-control" required>
                                                </div><!-- End .col-sm-6 -->
                                            </div><!-- End .row -->

                                           


                                          
                                            <input type="text" name="userId" id="" value="{{usr}}" hidden>

                                            <button type="submit"
                                                class="btn btn-outline-primary-2 d-flex justify-content-center btn-order btn-block">
                                                <span class="btn-text">Change Password</span>
                                                <span class="btn-hover-text">Submit Your Password</span>
                                            </button>
                                        </div><!-- End .col-lg-9 -->

                                    </div><!-- End .row -->
                                </form>
                                {{!-- modal form ends here --}}
                            </div><!-- .End .tab-pane -->
                        </div><!-- End .tab-content -->
                    </div><!-- End .form-tab -->
                </div><!-- End .form-box -->
            </div><!-- End .modal-body -->
        </div><!-- End .modal-content -->
    </div><!-- End .modal-dialog -->
    </div><!-- End .modal -->
    </div>
    {{!-- edit password form modal ends here --}}

    <!-- Plugins JS File -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/jquery.hoverIntent.min.js"></script>
    <script src="assets/js/jquery.waypoints.min.js"></script>
    <script src="assets/js/superfish.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <!-- Main JS File -->
    <script src="assets/js/main.js"></script>

    <script>


        function deleteAddress(addressId) {
             
            swal({
                title: "Are you sure?",
                text: "Do you want to delete your Address!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        $.ajax({
                            url: '/delete-address/' + addressId,
                            method: 'delete',
                            success: (response) => {
                                swal({
                                    text: "The selected Product is Deleted!",
                                    icon: 'success'
                                })
                                location.href = '/my-account'
                            }
                        })
                    } else {
                        swal({ text: "Your Address is not Deleted!" })
                    }


                });
        }
    </script>
    {{!--============= fetching address to form ================--}}
    <script>
        function getAddress(addressId) {
            $.ajax({
                url: '/get-address/' + addressId,
                method: 'get',
                success: (response) => {
                    console.log(response)
                    document.getElementById("fname").value = response.firstName
                    document.getElementById("lname").value = response.lastName
                    document.getElementById("cntry").value = response.country
                    document.getElementById("addrss").value = response.address
                    document.getElementById("town").value = response.city
                    document.getElementById("stte").value = response.state
                    document.getElementById("zip").value = response.pincode
                    document.getElementById("mobile").value = response.phone
                    document.getElementById("mail").value = response.email
                    document.getElementById('addressId').value= response._id
                }
            })
        }
    </script>
    <script>
       


        $("#editAddress").submit((e) => {
            
            e.preventDefault()
            $.ajax({
                url: '/edit-address-details',
                method: 'post',
                data: $("#editAddress").serialize(),
                success: (response) => {
                    if(response.status){
                        location.reload()
                    }

                }
            })
        })


    </script>

    
        <script>
            
            
         $('#userDetails').submit((e) => {
		e.preventDefault();
        $.ajax({
            url: "/edit-password",
            method :'post',
            data: $("#userDetails").serialize(),
            success:(response)=>{
                console.log(response)
                if (response.status) {
						Swal.fire({
							icon: 'success',
							title: 'Password Changed',
							text: ' Your Password Has Been Changed Succesfully !!',
							
						})   
                        setTimeout(function(){ window. location. reload(); }, 3000);     
                }
                else{
                    document.getElementById("reg-error").innerHTML = response.message;
						status = response.message;
                }
            }
        }
          
        )
         })
    </script>

    

    <script>
        function ShowAndHide() {
        let status= document.getElementById('SectionName').style.display
        console.log(status)
        if(status == 'none'){
         document.getElementById('SectionName').style.display  = 'block'
        }else{
         document.getElementById('SectionName').style.display = 'none'
        }
        }
    </script>
   
        <script>
        function myFunction() {

        var copyText = document.getElementById("refCode")
        copyText.select();
       copyText.setSelectionRange(0, 99999); // For mobile devices

        // Copy the text inside the text field
        navigator.clipboard.writeText(copyText.value);
        Swal.fire({
            icon: 'success',
            title: 'Copied to Clipboard',
        })

    }
</script>
   <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>




<!-- molla/dashboard.html  22 Nov 2019 10:03:13 GMT -->

</html>