<body>
    <div class="page-wrapper">
       

        <main class="main">
        	<div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        		<div class="container">
        			<h1 class="page-title">Categories<span>Shop</span></h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Shop</a></li>
                        <li class="breadcrumb-item"><a href="#">Categories</a></li>
                       
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

                              <div class="products mb-3">
                                <div class="row justify-content-center">
                                   {{#each showCategory}} 
								   <div class="col-6 col-md-4 col-lg-4 col-xl-3">
                                        <div class="product product-7 text-center">
                                            <figure class="product-media">
                                                {{!-- <span class="product-label label-new">New</span> --}}
                                                <a href="/product/{{this._id}}">
                                                    <img src="/pictures/product-images/{{this.img.[0]}}" alt="Product image" class="product-image">
                                                </a>

                                                <div class="product-action-vertical">
                                                    <a href="#" onclick="addToWishlist('{{this._id}}','{{this.stock}}')" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                                   
                                                </div><!-- End .product-action-vertical -->

                                                <div class="product-action">
                                                   <button class="btn-product btn-cart" style="border: none;" 
                                                     onclick="addToCart('{{this._id}}','{{this.stock}}')"><span>Add to Cart</span></button>
                                                </div><!-- End .product-action -->
                                            </figure><!-- End .product-media -->

                                            <div class="product-body ">
                                                <div class="product-cat text-center">
                                                   {{#if this.oldPrice}}
                                            <div class="product-price" style="text-decoration:line-through;color:#d50000;" class="product-price">
                                             was₹{{this.oldPrice}}
                                            </div><!-- End .product-price -->
                                            <div class="product-price  text-success">
                                              now ₹{{this.price}}
                                            </div><!-- End .product-price -->
                                            {{else}}
                                            <div class="product-price" style="color:#028100;" class="product-price">
                                              now  ₹{{this.price}}
                                            </div><!-- End .product-price -->
                                          
                                            {{/if}}
                                                </div><!-- End .product-cat -->
                                               <b class="product-title"><a href="product.html">{{this.name}}</a></b><!-- End .product-title -->
                                                
                                                

                                              
                                            </div><!-- End .product-body -->
                                        </div><!-- End .product -->
                                    </div><!-- End .col-sm-6 col-lg-4 col-xl-3 -->

                              {{/each}}  </div><!-- End .row -->
                            </div><!-- End .products -->
            </main>
            </body>