





<body>
    <div class="page-wrapper">
      

        <main class="main">
        	<div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        		<div class="container">
        			<h1 class="page-title">Products<span>Shop</span></h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="/show-products">Shop</a></li>
                        <li class="breadcrumb-item active" aria-current="page">List</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
                <div class="container">
                	<div class="row">
                		<div class="col-lg-9">
                			{{#if (isFound searchDetails)}}
                                <div class="products mb-3">
                                <div class="product product-list">
                                    <div class="row">
                                        {{#each searchDetails}}
                                        <div class="col-6 col-lg-3">
                                            <figure class="product-media">
                                                <span class="product-label label-new">New</span>
                                                <a href="/product/{{this._id}}">
                                                    <img src="/pictures/product-images/{{this.img.[0]}}" alt="Product image" class="product-image">
                                                </a>
                                            </figure><!-- End .product-media -->
                                        </div><!-- End .col-sm-6 col-lg-3 -->

                                        <div class="col-6 col-lg-3 order-lg-last">
                                            <div class="product-list-action">
                                                <div class="product-price">
                                                   {{#if this.oldPrice}}
                                            <div class="product-price" style="text-decoration:line-through;color:#d50000;" class="product-price">
                                             was₹{{this.oldPrice}}
                                            </div><!-- End .product-price -->
                                            <div class="product-price  text-success">
                                              now ₹{{this.price}}
                                            </div><!-- End .product-price -->
                                            {{else}}
                                            <div class="product-price" style="color:#028100;" class="product-price">
                                              now  ₹{{this.price}}
                                            </div><!-- End .product-price -->
                                          
                                            {{/if}}
                                                </div><!-- End .product-price -->
                                            



                                                <a   onclick="addToCart('{{this._id}}','{{this.stock}}')" class="btn-product btn-cart"><span>add to cart</span></a>
                                            </div><!-- End .product-list-action -->
                                        </div><!-- End .col-sm-6 col-lg-3 -->

                                        <div class="col-lg-6">
                                            <div class="product-body product-action-inner">
                                                <a href="#" onclick="addToWishlist('{{this._id}}','{{this.stock}}')" class="btn-product btn-wishlist" title="Add to wishlist"><span>add to wishlist</span></a>
                                                <div class="product-cat">
                                                    <a href="">{{this.name}}</a>
                                                </div><!-- End .product-cat -->
                                                <h3 class="product-title"><a href="product.html">{{this.category}}</a></h3><!-- End .product-title -->

                                                <div class="product-content">
                                                    <p>{{this.discription}} </p>
                                                </div><!-- End .product-content -->
                                                
                                                <div class="product-nav product-nav-thumbs">
                                                    <a href="#" class="active">
                                                        <img style="height:43px ; width:47px;" src="/pictures/product-images/{{this.img.[1]}}" alt="product desc">
                                                    </a>
                                                    <a href="#">
                                                        <img style="height:43px ; width:47px;" src="/pictures/product-images/{{this.img.[2]}}" alt="product desc">
                                                    </a>

                                                    <a href="#">
                                                        <img style="height:43px ; width:47px;" src="/pictures/product-images/{{this.img.[3]}}" alt="product desc">
                                                    </a>
                                                </div><!-- End .product-nav -->
                                            </div><!-- End .product-body -->
                                        </div><!-- End .col-lg-6 -->
                                        
                                        {{/each}}
                                        
                                    </div><!-- End .row -->
                                </div><!-- End .product -->

                               

                               
                            </div><!-- End .products -->
                            {{else}}
                            <div class="d-flex justify-content-center">

                               <img style="height: 250px;" src="/assets/images/no-product.png" alt="">
                            </div>
                            <br>
                            <div class="text-center">
                                <h3 class="text-danger">Sorry No such Product Found !</h3>
                            </div>

                            {{/if}}

                            

                			
                		</div><!-- End .col-lg-9 -->
                		
                	</div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->

       
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

   

    <!-- Sign in / Register Modal -->
    

    <!-- Plugins JS File -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/jquery.hoverIntent.min.js"></script>
    <script src="assets/js/jquery.waypoints.min.js"></script>
    <script src="assets/js/superfish.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/wNumb.js"></script>
    <script src="assets/js/bootstrap-input-spinner.js"></script>
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/nouislider.min.js"></script>
    <!-- Main JS File -->
    <script src="assets/js/main.js"></script>
</body>


<!-- molla/category-list.html  22 Nov 2019 10:02:52 GMT -->
</html>