<div class="page-wrapper">


    <main class="main">
        <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
            <div class="container">
                <h1 class="page-title">Shopping Cart<span>Shop</span></h1>
            </div><!-- End .container -->
        </div><!-- End .page-header -->
        <nav aria-label="breadcrumb" class="breadcrumb-nav">
            <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Shop</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Shopping Cart</li>
                </ol>
            </div><!-- End .container -->
        </nav><!-- End .breadcrumb-nav -->

        <div class="page-content">
            <div class="cart">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-">
                            <table class="table table-cart table-mobile">
                                <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                        <th>Total</th>
                                        <th></th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {{#each products}}
                                    <tr>

                                        <td class="product-col">
                                            <div id="prod" class="product">
                                                <figure class="product-media">
                                                    <a href="#">
                                                        <img src="/pictures/product-images/{{this.product.img.[0]}}"
                                                            alt="Product image">
                                                    </a>
                                                </figure>

                                                <h3 class="product-title">
                                                    <a href="#">{{this.product.name}}</a>
                                                </h3><!-- End .product-title -->
                                            </div><!-- End .product -->
                                        </td>
                                        <td class="price-col">${{this.product.price}}</td>






                                        <td class=" action-col"> <button class="btn btn-info"
                                                onclick="addToCart('{{this.product._id}}')">add to cart</button></td>

                                        <td class=" row-col">
                                            <button class="btn btn-danger"
                                                onclick="deleteOne('{{this._id}}','{{this.product._id}}')">Remove</button>
                                        </td>


                                    </tr>
                                    {{/each}}

                                </tbody>
                            </table><!-- End .table table-wishlist -->


                        </div><!-- End .col-lg-9 -->

                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .cart -->
        </div><!-- End .page-content -->
    </main><!-- End .main -->





    <!-- Plugins JS File -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/jquery.hoverIntent.min.js"></script>
    <script src="assets/js/jquery.waypoints.min.js"></script>
    <script src="assets/js/superfish.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/bootstrap-input-spinner.js"></script>
    <!-- Main JS File -->
    <script src="assets/js/main.js"></script>



    

<script>

      function deleteOne(wishlistId, proId){
         swal({
  title: "Are you sure?",
  text: "You won't be able to revert this!",
  icon: "warning",
  buttons: true,
  dangerMode: true,
})
.then((willDelete) => {
  if (willDelete) {
    $.ajax({
            url:'/remove-wishlist-product',
             data: {
                    wishlist: wishlistId,
                    product: proId

                },
            method:'post',
            success:(response)=>{
               if(response.removeProduct){
                swal({text:"The selected Product is Deleted!",
               icon:'success'
               });

                location.reload()
               }
            }
        })
  } else {
    swal({title:"Your product is safe!",
          icon:"success"});

  }
});
        
    }
</script>